.Destroy__Page
  .Destroy__content
    = image_tag 'material/logo/logo.png', alt: 'notimage', height: '50', width: '170', class: 'flogo'
  %h2.log-out ログアウトしました
  = link_to "トップへ戻る", root_path, class:"top-page"